@use "@ucd-lib/theme-sass/2_base_class/_buttons-mixin.scss" as *;
@use "@ucd-lib/theme-sass/0_tools" as *;

// for single events, places, departments, etc
.ucdlib-single {

  ucdlib-single-hero {

    .em-header-card_share {
      display: none;
    }

    .em-list_dates__container .fa-clock {
      color: #73ABDD;
    }

    .location-address {
      font-weight: 700;
      display: flex;
      i {
        color: #73ABDD;
        margin-right: .5rem;
        margin-top: .35rem;
      }
    }

    .user-action, .em-actions {
      .fa-long-arrow-alt-right {
        display: none;
      }

      .btn, .em-link.buytickets {
        box-sizing: border-box;
        @include btn--primary();
      }
    }

    .em-list_dates__toggle {
      cursor: pointer;
      white-space: nowrap;
      display: inline-block;
      color: #13639E;
      font-weight: 700;
      padding-left: 1rem;
    }

     .em-list_dates__toggle:hover+.em-list_dates__content {
      opacity: 1;
      visibility: visible;
      z-index: 1001;
  }

    .em-list_dates__content {
      border-radius: 2px;
      color: #fff;
      padding: 1rem;
      background-color: #000;
      display: flex;
      flex-direction: column;
      position: absolute;
      min-width: 9.125rem;
      right: 50%;
      transform: translateX(50%);
      transition: opacity 1s;
      opacity: 0;
      visibility: hidden;
      white-space: nowrap;
    }
  }

  .em-about_info {
    margin-bottom: 0;
    .em-link {
      font-weight: 400;
    }
    .em-divider {
      width: 0.0625rem;
      height: 1rem;
      margin: 0 .5rem;
      background: #c0c2cd;
    }
    .em-link i.fas {
      margin-left: 0;
      margin-right: .25rem;
    }
  }

  .em-content_about {
    margin-top: 2rem !important;

    .em-about_location {
      margin-bottom: 1rem;
    }

    .em-about_location__website {
      display: none !important;
    }
    .em-about_location__address {
      color: #4C4C4C;
      font-style: italic;
    }

  }

  .ucdlib-add-to-calendar a {
    margin-right: .75rem;
  }

  .em-event-meta-data-tags {
    margin-top: 2rem;
  }

  .em-section_map {
    border-top: 4px dotted #FFBF00;
    padding-top: 1rem;
  }

  .em-about_map.em-link.em-mobile {
    display: none !important;
  }

  .ucdlib-event-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .em-event-meta-data-container .em-link {
    display: block;
  }

  .em-event-meta-data-component .em-event-meta-data-container>div>p {
    text-transform: initial;
    color: #022851;
    font-size: 1.42rem;
    font-weight: 800;
  }
  .em-event-meta-data-component .em-event-meta-data-container>div {
    margin-top: 2rem;
  }

  .em-about_info + .em-about_description {
    margin-top: 1rem;
  }
  .em-about_info .em-divider:last-child {
    display: none;
  }

  .hosted-by {
    margin-bottom: .5rem;
  }

  .em-share-button {
    background-color: #FFBF00 !important;
    color: #022851 !important;
    border-radius: 50% !important;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: all .2s ease-in-out !important;
  }

  .em-share-button:hover {
    background-color: #022851 !important;
    color: #FFBF00 !important;
  }

  .em-event-meta-data-component {
    padding: 1rem 0;
    border: none;
    border-top: 4px dotted #FFBF00;
    border-radius: 0;
    margin-bottom: 0;
  }

  a.em-link > i:first-child {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }

  .em-description-component p.desc_biggest, .em-about_description p.desc_biggest {
    @include h4();
  }
  .em-description-component p.desc_bigger, .em-about_description p.desc_bigger {
    @include h5();
  }

}

.ucdlib-single--place {
  .ucdlib-event-title-container {
    margin-bottom: .5rem;
  }
  .em-content-bottom {
    border-top: 4px dotted #FFBF00;
    padding-top: 1.5rem;
  }
  .em-section_map {
    border-top: none;
  }
}

.ucdlib-single--group {
  .group-website i {
    margin: 0 .5rem 0 0;
    color: #73ABDD;
  }
  .group-description {
    margin-bottom: 1rem;
  }
  .em-content-bottom {
    margin-top: 2rem;
  }
}
