html, body {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}
footer .em-links-item {
  font-size: .875rem !important;
}
.em-content_label {
  text-transform: initial;
}

// filter dropdown
.em-filter-wrapper .em-filter-dropdown {
  z-index: 1001;
}
.em-filter-wrapper {
  border-bottom: 4px dotted #FFBF00;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.em-register_modal {
  z-index: 1001;
}

#breadcrumbs {
  display: none;
}
